body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(175, 175, 175);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    user-select: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: white;
    color: black;
}
p, span, a {
    text-align: center;
    margin: auto;
    width: 90%;
    font-size: 24px;
}
div {
    margin: auto;
}
img {
    margin: auto;
    width: 50%;
}
hr {
    width: 80%;
}
.max-w-900px-visib {
    display: block;
}
.min-w-900px-visib {
    display: none;
}
.skel {
    border: 1px solid black;
}
.logo {
    font-family: HandelGotDLig;
}
.h-100vh {
    height: 100vh;
}
.z-index-2 {
    z-index: -2;
}
.m-top-100vh {
    margin-top: 100vh;
}

@media screen and (min-width: 900px) {
    .w-100vw {
        width: 100vw;
    }
    .w-40vw {
        width: 40vw;
    }
    .w-50vw {
        width: 50vw;
    }
    .min-w-900px-visib {
        display: inline-block;
    }
    .max-w-900px-visib {
        display: none;
    }
}

.w-100vw {
    width: 100vw;
}
.w-40vw {
    width: 60vw;
}
.w-50vw {
    width: 60vw;
}
.locked-p-5px {
    padding: 5px;
}
.locked-p-10px {
    padding: 10px;
}