<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J&B Pallets | Home Page</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</head>
<body onscroll="scrollUpdate()">
    <div class="w-100vw position-fixed topN-1px leftN-1px t-indent-20px bg-color-black t-align-center">
        <div class="p-5px">
            <a href=""><img class="w-22per h-40px" src="{{ url_for('static', filename='img/logo2.PNG') }}"></a>
            <!-- <output id="s" class="color-white"></output> -->
        </div>
    </div>
    
    <div class="position-absolute z-index-2 leftN-1px">
        {% block content %}
        {% endblock %}
    </div>

    <div class="w-100vw position-fixed bottomN-1px leftN-1px t-indent-20px bg-color-black t-align-center">
        <div class="p-10px">
            <!-- <a class="color-white" href="#contact">Contact Us</a> -->
            <!-- <span class="color-white p-10px">Phone Number: 124135082357014790</span> -->
            <a class="color-white p-10px">Facebook</a>
            <a class="color-white p-10px">Instagram</a>
            <a class="color-white p-10px">Email</a>
        </div>
    </div>
</body>
</html>