{% extends "base.html" %}
{% block content %}

<div class="m-top-120px h-60vh m-left-30px m-right-30px bg-color-white p-40px">
    <h2 class="t-align-center">Info</h2>
    <hr>
    <div class="display-inline-flex w-50per">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur provident doloribus neque vitae earum distinctio voluptas, nemo, accusantium eum reiciendis sint, eos accusamus impedit quaerat placeat harum laborum eaque fugiat.</p>
    </div>
    <div class="display-inline-flex w-49per">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur provident doloribus neque vitae earum distinctio voluptas, nemo, accusantium eum reiciendis sint, eos accusamus impedit quaerat placeat harum laborum eaque fugiat.</p>
    </div>
</div>
<br>
<div id="contact" class="h-60vh m-20px m-left-30px m-right-30px bg-color-white p-40px">
    <h2 class="t-align-center">Contact Us</h2>
    <hr>
    <div class="display-inline-flex w-50per">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur provident doloribus neque vitae earum distinctio voluptas, nemo, accusantium eum reiciendis sint, eos accusamus impedit quaerat placeat harum laborum eaque fugiat.</p>
    </div>
    <div class="display-inline-flex w-49per">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur provident doloribus neque vitae earum distinctio voluptas, nemo, accusantium eum reiciendis sint, eos accusamus impedit quaerat placeat harum laborum eaque fugiat.</p>
    </div>
</div>

{% endblock %}