{% extends "base.html" %}
{% block content %}
<div id="home" class="w-100per z-index-2 h-100vh bg-color-white">
    <img class="h-100per w-100per" src="{{ url_for('static', filename='img/temp_pallet_yard.jpg') }}">
</div>
<div id="info" class="h-auto w-100per bg-color-white">
    <div class="p-80px">
        <h2 class="t-align-center">Info</h2>
        <hr>
        <div class="display-inline-block w-50per vertical-align-top">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur provident doloribus neque vitae earum distinctio voluptas, nemo, accusantium eum reiciendis sint, eos accusamus impedit quaerat placeat harum laborum eaque fugiat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, eveniet? Necessitatibus, voluptatum quaerat soluta modi, ex harum quidem quo voluptates beatae sed nobis at, expedita voluptas quia non illo voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor quis, facilis, magnam sint eius nemo veniam saepe adipisci atque ratione illum veritatis explicabo nobis aliquam! Neque dicta quisquam ullam repellat?</p>
        </div>
        <div class="display-inline-block w-40per">
            <div class="p-20px">
                <img class="h-100per w-100per b-r-25px b-style-solid b-w-thin" src="{{ url_for('static', filename='img/logo2.PNG') }}">
            </div>
        </div>
    </div>
</div>
<div id="estimate" class="h-auto w-100per leftN-1px bg-color-white">
    <div class="p-80px">
        <h2 class="t-align-center">Estimation</h2>
        <hr>
        <div class="t-align-center">
            <p>If you feel as though you would like the check for an estimated price before you contact us, use the following form to find out the information you would like.</p>
        </div>
        <form class="t-align-center p-80px p-bottom-20px">
            <label for="type">Type:</label><output id="t">Type 1</output>
            <br>
            <select class="w-80per p-10px m-10px b-r-15px t-align-center" id="type" oninput="qUpdate()">
                <option value="Type 1">Type 1</option>
                <option value="Type 2">Type 2</option>
                <option value="Type 3">Type 3</option>
            </select>
            <p class="t-align-center f-size-20px">+</p>
            <label for="quantity">Quantity: </label><output id="q">0</output>
            <br>
            <input id="quantity" type="range" class="w-80per" value="0" oninput="qUpdate()">
            <br>
            <div class="p-10px m-top-25px f-size-20px b-style-solid b-w-thin b-r-15px">
                <label for="price">Price: £</label><output type="" id="price">0</output>
            </div>
        </form>
        <p class="t-align-center">Once you have recieved an estimation you can use the number within the contacts below to be able to call and book in your order.</p>
    </div>
</div>
<div id="contact" class="h-auto w-100per leftN-1px bg-color-white">
    <div class="p-80px">
        <h2 class="t-align-center">Contact Us</h2>
        <hr>
        <div class="display-inline-block w-40per">
            <div class="p-20px">
                <img class="h-100per w-100per b-r-25px b-style-solid b-w-thin" src="{{ url_for('static', filename='img/temp_map.png') }}">
            </div>
        </div>
        <div class="display-inline-block vertical-align-top p-top-40px w-45per t-align-center">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur provident doloribus neque vitae earum distinctio voluptas, nemo, accusantium eum reiciendis sint, eos accusamus impedit quaerat placeat harum laborum eaque fugiat.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur provident doloribus neque vitae earum distinctio voluptas, nemo, accusantium eum reiciendis sint, eos accusamus impedit quaerat placeat harum laborum eaque fugiat.</p>
        </div>
        <div class="display-inline-block w-45per p-left-50px">
            <p>Below is the different ways you can contact us.</p>
            <ul class="list-style-type-square  t-indent-10px">
                <li>With a phone call, call 23923 48948</li>
                <li>With a quick email - fjdso@.com</li>
            </ul>
        </div>
        <div class="display-inline-block w-45per p-right-50px">
            <p>Alternatively take a look at our social media.</p>
            <p>Facebook</p>
            <p>Instagram</p>
            <!-- <ul class="list-style-type-none  t-indent-10px">
                <li>Facebook</li>
                <li>Instagram</li>
            </ul> -->
        </div>
    </div>
</div>
{% endblock %}